{% extends "/applications/vkzip/layouts/main.html" %}

{% block js %} {%endblock%}

{% block title %} {{page.title}} {% endblock %}
{% block description %} {{page.description}} {% endblock %}
{% block keywords %} {{page.keywords}} {% endblock %}

{% block body %}

<div class="jumbotron">
  <h1>Скачать аккаунт Вконтакте</h1>
  <p>VKZip позволяет Вам создать резервную копию аккаунта <a href="http://vk.com" rel="nofollow">vk.com</a>. Выполните два простых шага и&nbsp;Ваши фотографии, записи со&nbsp;стены, аудио- и&nbsp;видео- записи и&nbsp;другие данные смогут быть скопированы из&nbsp;облака на&nbsp;жесткий диск.</p>
  <a class="btn btn-primary btn-lg" href="/vkzip/about" role="button">Подробнее о сервисе VKZip</a> <a class="btn btn-link pull-right">Об авторах</a>
</div>
<div class="row">
	<fieldset class="col-md-6 step1">
		<legend>Шаг 1. Выберите данные для выгрузки</legend>
		{% include "/applications/vkzip/layouts/blocks/form_sections.html" %}
	</fieldset>
	<fieldset class="col-md-6 step2">
		<legend>Шаг 2. Авторизуйтесь</legend>
		<a id="btnLogin" href="/vkzip/auth" target="_blank" class="btn btn-success btn-lg btn-block"><i class="uk-icon-user"></i> С помощью vk.com</a>
		
	</fieldset>
</div>
{{body}}
{% endblock %}
