<div class="panel-control">
    <span class="rating">
        <a class="rate" href="#">&nbsp;</a>
        <a class="rate" href="#">&nbsp;</a>
        <a class="rate" href="#">&nbsp;</a>
        <a href="123">&nbsp;</a>
        <a href="#">&nbsp;</a>
    </span>
    <!-- <span><img title="Положить в портфель" src="/applications/taxonomy/source/images/icon-packarchive.png"></span> -->
    
    <span class="control">
        <label title="Использовано раз">123</label>
        <a title="Положить в портфель" href="#" class="add"></a>
    </span>
</div>