{% if sections %}
<ul id="sections" class="uk-list uk-list-striped uk-margin-top-remove">
	{% for section in sections %}
	<li>
		{% if section.allow == 1 %}
			<label class="uk-label"><input checked type="checkbox" name="sections[]" data-mname="{{section.machine_name}}" value="{{section.id}}"> {{section.title}}</label>
		{% else %}
			<label class="uk-label"><input disabled type="checkbox" name="sections[]" value="{{section.id}}"> {{section.title}}</label>
			<div class="uk-badge">Пока не поддерживается</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% else %}
<div class="uk-alert uk-alert-danger">
Секции не найдены.
</div>
{% endif %}