<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Сохраним для школы учебники системы Л.В. Занкова!</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
<script type="text/javascript" src="/applications/page/source/js/jquery141.min.js"></script>
        <script type="text/javascript" src="/applications/page/source/js/jquery.localscroll.js"></script>
        <script type="text/javascript" src="/applications/page/source/js/jquery.scrollto.js"></script>
        <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
        
        <script type="text/javascript" src="/applications/page/source/js/zankov_deface_scripts.js?ver=13.03.14.2"></script>
        
        <link rel="stylesheet" href="/applications/page/source/css/zankov_deface_styles.css" type="text/css" />
</head>

<body>


<div class="wrapper">
        <div class="section fixed">
                <div>
                    <div class="header">
                        <a target="_blank" href="http://zankov.ru#read" class="closeDeface"><img width="235" height="51" alt="zankov system" src="/applications/page/source/images/zankov_deface/logo.png"></a>
                        <div class="menu">
                            <a href="#openLetter">Открытое письмо</a>
                            <a href="#writeLetters">Напишите письма</a>
                            <a href="#sign">Подпишите петицию</a>
                            <a href="#sayAll">Расскажем всем</a>
                            <a class="button closeDeface" href="http://zankov.ru#read" target="_blank"><span class="left"></span><span class="center">Вернуться на основной сайт</span><span class="right"></span></a>
                        </div>
                        <div class="clear"></div>
                    </div><!-- .header-->
                </div>
            </div>
	
    
	<div class="content" id="openLetter">
            
            
            
            <div class="section">
                <div>
                    <h1>Сохраним для школы учебники системы Л.В. Занкова!</h1>
                    <div class="message">В <a target="_blank" href="http://regulation.gov.ru/get.php?view_id=3&doc_id=32879">проекте Федерального перечня</a> учебников не оказалось учебников<br>
                        системы Л.В. Занкова. Они отклонены Научно-методическим советом<br>
                        по учебникам Министерства образования РФ по формальному поводу
                    </div>
                </div>
            </div>
            <div class="section">
                <div>
                    <div class="block left">
                        <h3>Хроника событий     </h3>
                        <dl>
                            <dt>15 марта 2014</dt>
                            <dd>Под петицией подписалось<br>12 000 человек</dd>
                        </dl>
                        <dl>
                            <dt>14 марта 2014</dt>
                            <dd><span style="font-weight: bold">Вы можете <a href="http://zankov.ru/news/new/article=4577/#read">ознакомиться с ответом</a> Министерства образования и науки РФ на тысячи ваших писем с требованием пересмотреть решение Научно-методического совета по учебникам относительно учебников системы Л.В. Занкова</span><br>
                                Формированию Федерального перечня учебников посвящен сюжет программы «Вести» Российского телевидения<br>
                                Под нашей петицией подписалось<br>9000 человек<br>
                                <a href="http://zankov.ru/news/new/article=4566">http://zankov.ru/news/new/article=4566</a> Педагоги Кабардино-Балкарии, Чувашии и Омска обращаются в МОиН с просьбой вернуть занковские учебники в Федеральный перечень<br>
                                <a href="http://zankov.ru/news/new/article=4567">http://zankov.ru/news/new/article=4567</a> Газета "Известия": "В масштабном сокращении списка пособий эксперты видят лоббирование интересов издателей"
                            </dd>
                        </dl>
                            <dl>
                                <dt>13 марта 2014</dt>
                                <dd>Под петицией подписалось<br>7000 человек<br>В «Новой газете» опубликована статья «Учебный бой», посвященная вопросам формирования Федерального перечня, и открытое письмо министру Д.В. Ливанову от авторов занковских учебников (<a href="http://www.novayagazeta.ru/society/62669.html">ссылка</a>)</dd>
                            </dl>
<div class="spoiler spoiler-panel">
                            <dl>
                                <dt>12 марта 2014</dt>
                                <dd>Число подписавшихся под петицией достигло 5000 человек </dd>
                            </dl>
                            <dl>
                                <dt>10 марта 2014</dt>
                                <dd>В социальных сетях началось широкое обсуждение происшедшего. </dd>
                            </dl>
                            <dl>
                                <dt>9 марта 2014</dt>
                                <dd>На сайте zankov.ru опубликовано Открытое письмо министру образования и науки РФ Д.В. Ливанову «Защитим учебники системы Л.В. Занкова».</dd>
                            </dl>

<dl>
                            <dt>9 марта 2014</dt>
                            <dd>Появление петиции на сайте change.org. Петицию за первые часы подписало несколько сотен человек.</dd>
                        </dl>
                        <dl>
                            <dt>7 марта 2014</dt>
                            <dd>Опубликован проект Федерального перечня, в который не включены учебники системы Л.В. Занкова.</dd>
                        </dl>

                        <dl>
                            <dt>28 февраля 2014</dt>
                            <dd>На заседании Научно-методического совета по учебникам Минобрнауки<br>все 42 учебника не включены в Федеральный список учебников. Основание – не полностью представленные документы (отсутствие оригиналов заключений педагогической экспертизы. Нотариально заверенные копии<br>такими не посчитали).</dd>
                        </dl>

                        <dl>
                            <dt>13 февраля 2014</dt>
                            <dd>Комплекты документов на 42 учебника приняты в Минобрнауке РФ без замечаний.<br>Заключения педагогической экспертизы по предложению принимающей стороны поданы в нотариально заверенных копиях.</dd>
                        </dl>
                        <dl>
                            <dt>Ноябрь 2013 — январь 2014</dt>
                            <dd>42 учебника Издательского дома «Федоров» прошли научную, педагогическую и общественную экспертизы. Получены положительные заключения на каждый учебник.</dd>
                        </dl>
                        
                        </div>
                    </div>
                    
                    <div class="block right">
                        <h2>Открытое письмо министру образования и науки Российской Федерации Д.В. Ливанову</h2>
                        <div style="text-align: justify">
<p>Уважаемый Дмитрий Викторович!</p>
<p>Обратиться к Вам вынудила неожиданно сложившаяся критическая ситуация – исключение учебников по системе развивающего обучения Л.В. Занкова, издаваемых ИД «Федоров», из сформированного проекта Федерального перечня учебников.</p>
<p>Это обстоятельство <strong>ставит под угрозу</strong> само существование в образовательном пространстве России известной во всем мире системы развивающего обучения, разработанной выдающимся педагогом, психологом, дефектологом, ярким представителем школы Л.С. Выготского Леонидом Владимировичем Занковым, <strong>перечеркивает</strong> результаты глубоких исследований, уникальный многолетний опыт педагогов, оригинальные разработки авторов программ и учебников.</p>
<p>В феврале 2014 года в соответствии с Приказом № 1047 Министерства образования и науки РФ Издательским домом «Федоров» был подготовлен и в положенный срок сдан в Минобрнауки для рассмотрения на Научно-методическом совете по учебникам <strong>весь необходимый комплект документов</strong>, в том числе <strong>положительные заключения </strong>научной, педагогической и общественной экспертиз <strong>по</strong> <strong>всем 42 учебникам</strong>.</p>
<p>Поэтому решение Научно-методического совета по учебникам (от 28 февраля) не включать в список рекомендованных учебники системы Л.В. Занкова является неожиданным и трагическим для издателей, авторов учебников и для всего занковского сообщества. По сведениям, полученным от издателей, отказ был мотивирован сугубо формальными причинами: наличием в пакете документов не оригиналов заключений педагогической экспертизы, а их нотариально заверенных копий (что было сделано не просто с ведома, а более того, – по устной рекомендации конкретного сотрудника Министерства, принимавшего документы).</p>
<div class="spoiler spoiler-panel">
    
    <p>За прошедшие годы учебники системы Л.В. Занкова много раз проходили разного рода экспертизы и по их итогам регулярно включались в Федеральные перечни рекомендованных учебников. </p>
    <p>По учебникам системы Л.В. Занкова занимается около 500 тысяч учащихся начальных классов. Учителя, работающие по этому комплекту, достигли высокого профессионального уровня благодаря теоретической обоснованности и методической разработанности системы. И сейчас они лишаются возможности использовать качественные учебники и пособия – один из главных педагогических инструментов, обеспечивающих эффективность и результативность образовательного процесса.</p>
    <p>Исключение из практики школ комплекта учебников по системе Л.В. Занкова в период внедрения в российское образование Федерального стандарта, построенного на идеях развивающего вариативного образования и системно-деятельностного подхода, в период подготовки профессионального стандарта педагога <strong>недопустимо</strong>.</p>
    <p>Нашу тревогу разделяют тысячи учителей из всех регионов Российской Федерации и родителей, выбирающих для своих детей путь индивидуального оптимального развития личности.</p>
    <p>Убедительно просим Вас до утверждения Федерального перечня учебников, то есть до 20 марта 2014 года, инициировать пересмотр решения, вынесенного Научно-методическим советом по учебникам Минобрнауки РФ.</p>
    <p>Надеемся на Вашу поддержку в сохранении лучших традиций отечественного образования на принципах вариативности, открытости, развития.</p>
</div>
                        </div>
                        <a href="#spoiler-panel" style="float: right" class="spoiler-button">Читать полностью</a>
                        <ul class="carousel-container" style="height: 172px;">
                            <li><span>Е.В. Архипова</span>, д.п.н., профессор кафедры русского языка и методики его преподавания Рязанского государственного университета им. С.А. Есенина, почетный работник высшего профессионального образования РФ</li>
	<li><span>М.Р. Битянова</span>, к.псх.н, профессор Московского института открытого образования, директор Центра психологического сопровождения образования «ТОЧКА ПСИ»</li>
	<li><span>Д.Б. Богоявленская,</span> д.псх.н., профессор, почетный член РАО, Председатель Московского регионального отделения Российского психологического общества, заслуженный деятель науки РФ</li>
	<li><span>А.М. Кондаков</span>, член-корр. РАО, д.п.н., профессор</li>
	<li><span>М.И. Краснова</span>, к.п.н., заслуженный учитель РФ, ветеран занковского движения</li>
	<li><span>А.А. Мелик-Пашаев</span>, д.псх.н., главный редактор журнала «Искусство в школе»</li>
	<li><span>Н.В. Нечаева</span>, к.п.н., научный руководитель Федерального научно-методического центра им. Л.В. Занкова</li>
	<li><span>Э.М. Никитин,</span> д.п.н., профессор, заслуженный учитель РФ, лауреат премии Президента РФ в области образования</li>
	<li><span>Е.Л. Рачевский,</span> директор ЦО «Царицыно» № 548, заслуженный учитель России, лауреат Премии Президента РФ в области образования, член Общественной палаты РФ</li>
	<li><span>М.В. Рыжаков,</span> действительный член РАО, д.п.н.</li>
	<li><span>А.И. Савенков,</span> д.п.н., д.псх.н., профессор, директор Института педагогики и психологии образования ГБОУ ВПО г. Москвы «Московский городской педагогический университет»</li>
	<li><span>В.Я. Сиденко</span>, член-корр. РАО, д.п.н., профессор, заслуженный учитель РФ</li>
	<li><span>А.С. Соловейчик,</span> главный редактор ИД «Первое сентября»</li>
	<li><span>М.В. Соловейчик,</span> к.ф-м.н., главный редактор газеты «Начальная школа» ИД «Первое сентября», член Союза журналистов России</li>
	<li><span>Т.В. Смолеусова</span>, к.п.н., профессор кафедры начального образования Новосибирского ИПКиПРО, почетный работник общего образования РФ</li>
	<li><span>С.Г. Яковлева,</span> к.п.н., директор НП «Объединение профессионалов, содействующих системе развивающего обучения Л.В. Занкова», директор Федерального научно-методического центра им. Л.В. Занкова</li>
	<li><span>О.А. Бахчиева,</span> к.п.н.</li>
	<li><span>Н.М. Ключникова,</span> к.б.н.</li>
	<li><span>В.А. Лазарева,</span> к.п.н.</li>
	<li><span>Е.Н. Николаева,</span> д.б.н, профессор кафедры возрастной психологии и педагогики семьи РГПУ им. А.И. Герцена </li>
	<li><span>А.А. Попова</span>, д.п.н., профессор </li>
	<li><span>С.К. Пятунина,</span> к.б.н.</li>
	<li><span>Г.С. Ригина</span>, д.п.н. </li>
	<li><span>В.Ю. Свиридова,</span> к.п.н. </li>
	<li><span>И.П. Товпинец,</span> к.п.н. </li>
	<li><span>Н.А. Цирулик</span>, к.п.н. </li>
	<li><span>В.Н. Шаулин,</span> д.п.н., профессор</li>
	<li>​<span>И.Б. Шилина,</span> д.и.н., профессор</li>
	<li><span>Н.Е. Щуркова,</span> д.п.н., профессор</li>
                        </ul>
                    </div>
                    <div id="writeLetters" class="clear"></div>
                    <h2 style="margin-top: 15px">Не будь безразличен! Каждый голос в защиту системы важен и нужен.<br>Напиши в приемную Министерства образования и науки РФ.</h2>
                    <p>Как это сделать</p>
                    <table class="steps_todo">
                        <tr>
                            <td><span>1. Зайдите на сайт</span>Сайт Минобрнауки России, страница приема обращений.<br> Нажми ссылку <a target="_blank" href="http://минобрнауки.рф/обратная-связь/форма">http://минобрнауки.рф/обратная-связь/форма</a></td>
                            <td style="padding: 0px 74px;"><span>2. Заполните данные</span>Заполняете все необходимые данные<br>В выпадающем окне «Тематика вопроса» выбирайте вариант «Народное образование»</td>
                            <td><span>3. Скопируйте текст письма</span>Мы подготовили для вас текст письма, но вы можете его дополнить или изменить</td>
                        </tr>
                    </table>
                    <blockquote>
                        <p>Я узнал(а) о невключении учебников по системе Л.В. Занкова в проект Федерального перечня учебников, рекомендуемых к использованию в образовательных учреждениях. Считаю это решение неверным, в худшую сторону изменяющим ситуацию в российском образовании. Прошу вернуть учебники по системе Л.В. Занкова в школу.</p>
                    </blockquote>
                </div>
                
            </div>
            
            <div id="sign" class="section">
                <div>
                    <div class="shadow"></div>
                    <h2 style="margin-top: 15px;">Подпишите петицию на <a href="http://goo.gl/zZPlG4" target="_blank"><img width="133" height="53" alt="change org link" src="/applications/page/source/images/zankov_deface/btn-chenge-org.jpg"></a></h2>
                    <p>Зайдите на <a target="_blank" href="http://goo.gl/zZPlG4">страницу петиции</a> в поддержку учебников системы Л.В. Занкова на сайте change.org и заполните простую форму: имя, фамилия, адрес вашей электронной почты и город. Свое отношение к проблеме можете высказать в поле «Почему это важно для Вас?». В заключение нажмите «Подписать петицию».</p>
                    <div class="center-image"><img alt="children" src="/applications/page/source/images/zankov_deface/children.jpg"></div>
                </div>
            </div>
            
            <div id="sayAll" class="section last">
                <div>
                    <div class="shadow"></div>
                    <h2>Расскажите друзьям</h2>
                    <blockquote id="shareContent">
                        <p>Учебники по системе развивающего обучения Л.В. Занкова были исключены из формируемого Федерального перечня, хотя все 42 учебника получили положительные заключения по результатам научной, общественной и педагогической экспертиз. Сложившаяся ситуация ставит под угрозу само существование системы Л. В. Занкова.</p>
                        <p>Мы выступаем с обращением к руководству Министерства образования и науки РФ с просьбой пересмотреть решение Научно-методического совета по учебникам. Мы призываем всех неравнодушных изменить ситуацию и <a target='_blank' href="http://goo.gl/zZPlG4">подписать петицию</a>, которую мы направим министру образования Д.В. Ливанову и послать прямой запрос через <a target='_blank' href="http://минобрнауки.рф/%D0%BE%D0%B1%D1%80%D0%B0%D1%82%D0%BD%D0%B0%D1%8F-%D1%81%D0%B2%D1%8F%D0%B7%D1%8C/%D1%84%D0%BE%D1%80%D0%BC%D0%B0">электронную приемную</a> Министерства образования и науки РФ.</p>
                        <p>Вы можете сделать еще много: поделиться информацией  и ссылками с коллегами и друзьями, написать письмо в региональные министерства образования, обратиться в СМИ. Надеемся на Вашу поддержку!</p>
                        
                        <div id="blockShare"></div>

                    </blockquote>
                </div>
            </div>
            
            <div class="section footer">
                <div>
                    <p>© 2001-2014 Fedoroff Corp.</p>
                </div>
            </div>
	</div><!-- .content-->
</div><!-- .wrapper -->


</body>
</html>