{% if alias[0] %}
{% set alias = alias[0] %}
<form action="/admin/aliases/edit/id{{alias.id}}" method="POST">
    <label>id: <input readonly="readonly" type="text" value="{{alias.id}}"></label>
    <label>alias: <input name="alias" required="required" type="text" value="{{alias.alias}}"></label>
    <label>address: <input name="address" required="required" type="text" value="{{alias.address}}"></label>
    <input type="submit" value="Сохранить"><a href="/admin/aliases/">Назад</a>
</form>
{% else %}
    <span>Синоним не найден</span>
{% endif %}