<link rel="stylesheet" type="text/css" href="/applications/users/source/css/bag/panel.css">
<script type="text/javascript" src="/applications/users/source/js/bag/bag.js"></script>
<div id="bag-panel">
    <p class="head">Портфель<dfn title="Объектов в портфеле" class='counter'></dfn><span><a class='toNewLesson' title='Создать урок' href='/lesson/create'></a> <a title='Очистить портфель' href='#' class='clearBag'></a></span></p>
    <div class="objects-list">
        <span class="empty">Пуст</span>
    </div>
</div>