.clear{
	clear: both !important;
	display: block !important;
	float: none !important;
	border: none !important;
	margin-top: -1px;
}

.calendar-container{
	/*width: 980px;*/
	cursor: default;
	position: relative;
	background: #FFFFFF;
}

.calendar-container .day-container{
	width: 100%;
	/*height: 130px;
    float: left;*/
	/* display: inline-block; */
	/* border-left: 1px solid gray; */
	/* border-bottom: 1px solid gray; */
	margin-bottom: 1em;
	/* border-radius: 100%; */
}

.calendar-container .day-container > ul{
	padding: 0px;
	/*height: 107px;*/
	margin: 3px 0px;
	/* text-align: center; */
}

.calendar-container .day-container > .uk-panel-header{
	padding-top: 1em;
}



/*
.calendar-container .day-container:hover{
    background-color: rgba(227, 242, 253,.7);
}
*/
.calendar-container .day-container ul > li{
	/* padding: .2em 2px;
    height: 1.5em;
    overflow: hidden;
    font-size: 12px;
    position: relative; */
	/* margin-bottom: .2em;
    width: 84px;
    margin-left: auto;
    margin-right: auto; */
}

.calendar-container .day-container ul.timeGrid > li{
	list-style-type: none;
	text-align: center;
	margin-bottom: 10px;
}

.calendar-container .day-container ul.timeGrid > li > div{
	margin: 0 auto;
}

.calendar-container .day-container ul > li > .material-icons{
	position: absolute;
	top: 3px;
}

.calendar-container .day-container .timeGrid .uk-nav{
	padding-left:0px;
}

.calendar-container .day-container .timeGrid .uk-dropdown{
	width: 220px;
	text-align: left;
}

.calendar-container .day-container .notThisMonth{
	background-color: rgb(250, 250, 250);
}

.calendar-container .day-container ul > li > span{
	padding-left: 1.5em;
}

.calendar-container .day-container > em{
	padding-right: 5px;
	display: block;
	text-align: center;
	font-style: normal;
}

.calendar-container > .calendar-header{
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	display: block;
}

.calendar-container .day-container.occupied > ul{
	padding: 0;
	margin: 0;
}

.calendar-container .day-container.occupied > ul > li{
	height: 16px;
	/*overflow: hidden;*/
	background-color: #81C784;
	margin-bottom: 1px;
	font-size: 12px;
}

.calendar-container .day-container > ul > li.occupied{

}

.today{
	background-color: rgb(232, 238, 252);
}

.timeGrid > li > .uk-button {
	border-radius: 0;
	/*display: block;
    border-right: 1px dashed gray;
    border-bottom: 1px dashed gray;
    */
}
/*
.calendar-container .day-container:last-child a.uk-button {
	border-right:0;
}*/

.userPanel{
	float: right;
}

.userPanel > a{
	text-decoration: none;
	border-bottom: 1px dashed;
}


.userPanel > a:hover{
	text-decoration: none;
	border-bottom: 1px solid;
	cursor: default;
}

.modal .timeGrid a.secondary-content{
	margin-top: 5px;
}

.modal .timeGrid li .collapsible-header > i
, .calendar-container .timeGrid li > i
{
	color: #14B514;
}

.modal .timeGrid .occupied .collapsible-header
, .modal .timeGrid .occupied .collapsible-header > i
, .calendar-container .timeGrid li.occupied
, .calendar-container .timeGrid li.occupied > i
{
	color: #E21B1B;
}

.modal .timeGrid .occupied.myTime .collapsible-header
, .modal .timeGrid .occupied.myTime .collapsible-header > i
{
	color: #f9a825;
}

.calendar-container .timeGrid li.occupied.myTime
{
	background-color: #fff59d;
}

.reservationBtn {
	padding: 0 6px;
	width: 130px;
}

.cancelRepBtn{
	padding: 0 23px;
	width: 130px;
}


.month_name_big{
	font-size: 28px;
	margin: 0px 10px;
}

.invisible{
	display: none !important;
}

.clickable{
	text-decoration: none;
	display: block;
	border-bottom: 1px dashed;
	text-align: center;
	margin-top: 3px;
	font-size: 1.1em;
}

.clickable:hover{
	text-decoration: none;
	border-bottom: 1px solid;
}

.arendator{
	background: whitesmoke;
	border: 1px solid;
	padding: 15px;
	box-shadow: 0px 13px 5px -5px gray;
	/*z-index: 10;*/
}

.day-header{
	display: block;
	margin-top: 3px;
	text-align: center;
}

.calendar-nav a.btn{
	padding: 0 1rem;
}
.calendar-nav a.btn > i{
	line-height: 36px;
}
.calendar-nav a.btn > i.left{
	margin-right: 7px;
}
.calendar-nav a.btn > i.right{
	margin-left: 7px;
}
.calendar-nav a.btn.disabled{
	margin-right: -18px;
	margin-left: -18px;
}
.calendar-user-nav a.btn > i{
	line-height: 36px;
}
.calendar-user-nav a.btn{
	padding: 0 1rem;
}

.vkBtn img.btn{
	border-radius: 2px;
	padding: 0
}

.calendar-nav{
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.weekdays{
}

[data-uk-sticky].uk-active.weekdays{
}

.weekdays .uk-panel-title{
	width: 100%;
    margin-bottom: 0;
}

.navLinks a{
    padding: 10px 15px;
}

