<form id="form_sections" class="form-main-container">
{% if sections %}
	{% for section in sections %}
	<div class="form-group">
		{% if section.allow == 1 %}
			
			<input id="section_{{section.id}}" checked type="checkbox" name="sections[]" data-mname="{{section.machine_name}}" value={{section.id}}">
			<label for="section_{{section.id}}">{{section.title}}</label>
		{% else %}
			<input id="section_{{section.id}}" disabled type="checkbox" name="sections[]" value="{{section.id}}">
			<label for="section_{{section.id}}">{{section.title}} <span class="badge">Пока не поддерживается</span></label>
			
		{% endif %}
	</div>
	{% endfor %}
{% else %}
<div class="alert">
Секции не найдены.
</div>
{% endif %}
</form>