{% extends "/applications/vkzip/layouts/main.html" %}

{% block js %} {%endblock%}

{% block title %} {{page.title}} {% endblock %}
{% block description %} {{page.description}} {% endblock %}
{% block keywords %} {{page.keywords}} {% endblock %}

{% block body %}

<h1>
	Система выгрузки аккаунта vk
</h1>
<form class="uk-form uk-grid">
    <fieldset class="uk-width-1-2">
        <legend>Шаг 1. Выберите данные для выгрузки</legend>
        {% include "/applications/vkzip/layouts/blocks/form_sections.html" %}
    </fieldset>
	<fieldset class="uk-width-1-2">
		<legend>Шаг 2. Авторизуйтесь</legend>
		{% include "/applications/vkzip/layouts/blocks/auth_form.html" %}
	</fieldset>
</form>
{{body}}
{% endblock %}
