{% extends "/source/admin.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{app.attachment.css}}attachment.css">
    <link rel="stylesheet" type="text/css" href="/source/css/jquery.lightbox-0.5.css">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/source/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/source/js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="/source/js/jquery.lightbox-0.5.pack.js"></script>
{% endblock %}

{% block pageTitle %}
        <h1>Файлы</h1>
        <br/><a href="/admin/attachment/add/">Добавить</a>
{% endblock %}

{% block body %}
{{object}}
{% endblock %}
