<div id="my-modal" class="uk-modal uk-height-viewport">
	<div class="uk-modal-dialog">
	<a href="" class="uk-modal-close uk-close"></a>
	<div class="uk-modal-header"><h2>Подтевждение брони</h2></div>
	<dl class="uk-description-list-line">
		<dt class="uk-clearfix">
		<div class="uk-float-left"><img src="{{studio.photo_50}}" class="uk-border-rounded"> <a class="uk-text-middle" href="" target="_blank">Абориген</a></div>
		<div class="uk-float-right"><a class="uk-text-middle" href="">{{app.session.user.FIO}}</a> <img src="{{app.session.vk_user.photo_50}}" class="uk-border-rounded"></div>
		</dt>
		<dd>&nbsp;</dd>
		<dt class="event-date"></dt>
		<dd>Дата</dd>
		<dt class="event-start-end"></dt>
		<dd>Время</dd>
		<dt class="event-duration"></dt>
		<dd>Продолжительность</dd>
		<dt class="event-member-count"></dt>
		<dd>Количество участников</dd>
		<dt class="event-cost"></dt>
		<dd>Отжиманий</dd>
	</dl>
	<div class="uk-modal-footer">
	<p class="uk-text-muted"><button class="uk-button uk-button-primary" href="">Забронировать</button> с вами связжется менеджер<a class="uk-button uk-button-link uk-modal-close uk-float-right">Закрыть</a></p>
	</div>

	</div>
</div>