<div class="uk-panel studio-panel" data-uk-sticky>
	<div class="uk-panel-title">
			<a href="/studios/{{studio.alias}}">{{studio.name}}</a>
	</div>
	<ul class="uk-nav uk-nav-side uk-nav-parent-icon uk-margin-top" data-uk-nav="{multiple:true}">
		<li{% if menu.active == "timetable" %} class="uk-active"{% endif %}><a href="/studios/{{studio.alias}}/timetable">Расписание</a></li>
		<li class="uk-nav-divider"></li>
        <li{% if menu.active == "studio" %} class="uk-active"{% endif %}><a href="/studios/{{studio.alias}}">О студии</a></li>

		<li{% if menu.active == "gear" %} class="uk-active"{% endif %}><a href="/studios/{{studio.alias}}/gear">Оборудование</a></li>
		<li{% if menu.active == "photos" %} class="uk-active"{% endif %}><a href="/studios/{{studio.alias}}/photos">Фотографии</a></li>
		<li{% if menu.active == "contacts" %} class="uk-active"{% endif %}><a href="/studios/{{studio.alias}}/contacts">Контакты</a></li>
		<!--<li><a href class="studio-writeBtn"><i class="uk-icon-pencil"></i> Написать</a></li>
		<li class="uk-nav-header">Контакты</li>
		<li>
			<dl class="uk-description-list-line" id="studio-card-mobile">
			<dt>{{studio.contacts}}</dt>
			{% for vakil in studio.vakils %}
				<dt>{{vakil.contacts}}</dt> <dd>{{vakil.FIO}}</dd>
			{% endfor %}
			<dt>{{studio.address}}</dt>
			<dd>
			<div id="studioPanelYaMap" data-coords="{{studio.mapCoords}}" data-studio-name="{{studio.name}}" style="height: 180px;"></div>
			</dd>
			</dl>
		</li>-->
	</ul>
</div>
