<div class="calendar-container" data-studio_id="{{studio.id}}">
	{% if calendar %}
	{% include globals.layoutPath~"calendar/navLinks.html" %}

	{% for week in calendar %}
    {% if loop.first %}
        {% set showWeekDay = true %}
    {% else %}
        {% set showWeekDay = false %}
    {% endif %}
    {% include globals.layoutPath~"studios/week_loop.html" %}

{% endfor %}
        <a id="btn-more-dates" data-offset="{{offset}}" class="uk-button uk-width-1-1 uk-button-link uk-button-large"><i class="uk-icon uk-icon-refresh"></i> Показать еще неделю</a>
{% else %}
	<div class="uk-alert uk-alert-danger" role="alert">Данные не получены</div>
{% endif %}

</div>