<div class="week uk-flex uk-flex-space-around">

{% for day in week %}

    {% if day.date|date('Y-m-d') == localdate|date('Y-m-d') %}
        {%set isToday=" uk-text-primary"%}
    {%else%}
        {%set isToday=null %}
    {% endif %}

    {% if day.date <= calendarNav.today %}
        {%set isPast=" uk-text-muted"%}
    {%else%}
        {%set isPast=null%}
    {% endif %}

    <div class="day-container" data-date="{{ day.date|date('Y-m-d') }}">
        <div class="uk-panel{%if isToday %} uk-panel-box-primary{%endif%}">

            <p class="uk-text-center{{isToday}}{{isPast}}">{{ day.date|date('j') }} {{lang._rus.monthes['rodit'][day.date|date('m')]}}</p>
            {% include globals.layoutPath~"studios/dayEventList.html" %}
        </div>

    </div>
{% endfor %}

</div>
