<h3>О студии</h3>
<ul class="uk-navbar-nav">
	<li><a href="/studios/aborigen/gear">Оборудование</a></li>
	<li><a href="/studios/aborigen/photo">Фотографии</a></li>
	<li><a href="/studios/aborigen/contacts">Контакты</a></li>
	<li><a href="/studios/aborigen/links">Ссылки</a></li>
</ul>
<dl class="uk-description-list-line">
	<dt><button class="uk-button uk-width-1-1">Написать</button></dt>
	<dt class="uk-clearfix">+7 908 458 47 42</dt> <dd>Стас</dd>
	<dt>+7 909 389 89 56</dt> <dd>Антон</dd>
	<dt><a href="">connect@aborigen.co</a></dt> <dd>email</dd>
	<dt><a href="">vk.com/gderepa</a></dt> <dd>ВКонтакте</dd>
	<dt>
	<dd><a href="https://yandex.ru/maps/?um=constructor%3AXGH6WDP_Dk3rpLoDpO7l9IyZtqVSOlWj&amp;source=constructorStatic" target="_blank">Молодогвардейская ул., 78</a></dd>
	<a href="https://yandex.ru/maps/?um=constructor%3AXGH6WDP_Dk3rpLoDpO7l9IyZtqVSOlWj&amp;source=constructorStatic" target="_blank"><img class="uk-border-rounded" src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=XGH6WDP_Dk3rpLoDpO7l9IyZtqVSOlWj&amp;width=240&amp;height=180&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border:0;max-width:100%;height:auto;"/></a>
	</dt>
</dl>